@font-face {
  font-family: "Rubik-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Rubik-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Rubik-Bold-Italic";
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Rubik-BlackItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Rubik-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Rubik-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Gilroy-Regular-Italic";
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Rubik-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "Rubik-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Rubik-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Rubik-Medium-Italic";
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Rubik-MediumItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Rubik-Light";
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Rubik-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Rubik-Light-Italic";
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/Rubik-LightItalic.ttf") format("ttf");
}