a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  &:hover {
    color: $primary;
  }
}
.font-text-md {
  font-family: "Rubik-Regular";
  font-size: 18px;
  font-weight: normal;
  color: $dark;
  z-index: 1;
}
.font-text {
  font-family: "Rubik-Regular";
  font-size: 16px;
  font-weight: normal;
  color: $dark;
}

.font-text-sm {
  font-family: "Rubik-Regular";
  font-size: 12px;
  font-weight: normal;
  color: $dark;
}

.font-title {
  font-family: "Rubik-Bold";
  font-size: 40px;
  font-weight: normal;
  color: $dark;
}


.font-title-sm {
  font-family: "Rubik-Bold";
  font-size: 30px;
  font-weight: normal;
  color: $dark;
}
.font-title-sm-l {
  font-family: "Rubik-Bold";
  font-size: 30px;
  font-weight: normal;
  color: $light;
}

.font-subtitle {
  font-family: "Rubik-Bold";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark;
}

.font-link {
  font-family: Rubik-Regular;
  font-size: 16px;
  font-weight: bold;
}
.font-title-md {
  font-family: "Rubik-Regular";
  font-size: 35px;
  font-weight: 100;
  color: $dark;
}
.font-subtitle-lg {
  font-family: "Rubik-Bold";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark;
}
